@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    scrollbar-width: thin;
    scrollbar-color: transparent transparent;
    transition: all 300ms ease;
    margin: 0;
    padding: 0;
  }

  *::-webkit-scrollbar {
    @apply w-[5px] h-[5px];
  }

  *::-webkit-scrollbar-thumb {
    @apply rounded-[30px] bg-primary;
  }

  *::-webkit-scrollbar-track {
    @apply bg-transparent relative top-0 right-0;
  }

  *::-webkit-scrollbar-track-piece {
    @apply bg-transparent;
  }

  *::-ms-scrollbar {
    @apply w-[5px] h-[5px];
  }

  body {
    @apply bg-dark font-signika-negative text-white;
  }

  .click {
    @apply hover:scale-[1.01] active:scale-[0.99] transition-all duration-300 group-hover:scale-105 group-active:scale-95;
  }

  .scrollbar-hidden::-webkit-scrollbar {
    display: none;
  }

  .scrollbar-hidden::-ms-overflow-style {
    display: none;
    background-color: #2463eb;
  }

  .scrollbar-hidden {
    scrollbar-width: none;
  }

  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active {
    -webkit-background-clip: text;
    transition: background-color 5000s ease-in-out 0s;
    box-shadow: inset 0 0 20px 20px transparent;
  }

  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }

  .scrollbar-hide::-ms-overflow-style {
    display: none;
  }

  .scrollbar-hide {
    scrollbar-width: none;
  }
}
